import(methods)
importFrom("tuneR", "channel", "readWave", "writeWave")
importFrom("graphics", "abline", "axis", "box", "image", "layout", "legend", "lines", "locator", "mtext", "par", "plot", "points", "polygon", "rect", "text")
importFrom("grDevices", "dev.list", "gray", "rainbow", "topo.colors")
importFrom("stats", "cor", "embed", "fft", "na.omit", "quantile", "rnorm", "spline")
importFrom("utils", "read.csv", "setTxtProgressBar", "txtProgressBar", "write.csv", "write.table", "download.file")

export(
  batchBinMatch,
  batchCorMatch,
  binMatch,
  bindEvents,
  changeSampRate,
  collapseClips,
  combineBinTemplates,
  combineCorTemplates,
  compareTemplates,
  corMatch,
  cutWave,
  dbDownloadCardRecorderID,
  dbDownloadResult,
  dbDownloadSurvey,
  dbDownloadTemplate,
  dbSchema,
  dbUploadAnno,
  dbUploadResult,
  dbUploadSurvey,
  dbUploadTemplate,
  eventEval,
  fileCopyRename,
  findPeaks,
  getDetections,
  getPeaks,
  getTemplates,
  makeBinTemplate,
  makeCorTemplate,
  mp3Subsamp,
  readBinTemplates,
  readCorTemplates,
  readMP3,
  showPeaks,
  templateComment,
  "templateComment<-",
  templateCutoff,
  "templateCutoff<-",
  templateNames,
  "templateNames<-",
  templatePath,
  "templatePath<-",
  timeAlign,
  viewSpec,
  writeBinTemplates,
  writeCorTemplates,
  gray.1,
  gray.2,
  gray.3,
  rainbow.1,
  topo.1
)

exportMethods(
  "plot",
  "show",
  "summary",
  "[" 
)

exportClasses(
  "binTemplate",
  "binTemplateList",
  "corTemplate",
  "corTemplateList",
  "detectionList",
  "Template",
  "TemplateList",
  "templateScores" 
)
